<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	<!-- DAO.java 의 mybatis의 변수에서 식별하는 값 -->

	<!-- jdbc-config.xml의 aliases에서 가져온 'user' -->
	<!-- 회원가입 -->
	<update id="insertUser" parameterType="user">
		insert all
		into users (id, password, nicname, gender) values(#{id},#{password}
		,#{nicname},#{gender})
		into personalinfo (id, birthday, weight, height,BMI, sns, exercise)
		values(#{id}, #{birthday},#{weight, jdbcType=NUMERIC},#{height, jdbcType=NUMERIC},#{bmi},#{sns},#{exercise})
		select * from sys.dual
	</update>
	<!-- 회원 목록 -->
	<select id="getUserList" parameterType="user" resultType="user">
		select
		* from users where role = 'User'
	</select>
	<!-- 총 회원수 -->
	<select id="getTotalCnt" resultType="int">
		select count(*) from users
	</select>
	<!-- 회원탈퇴 -->
	<!-- 회원 기본정보 삭제 -->
	<delete id="deleteUser">
		delete from users where id = #{id} and
		password=#{password}
	</delete>
	<!-- 회원 기본정보 가져오기 -->
	<select id="getUser" parameterType="user" resultType="user">
		select u.*,p.birthday, p.weight, p.height, p.bmi, p.photo as filename, p.sns, p.exercise
		from users u left join personalinfo p on u.id = p.id
		where u.id = #{id}
	</select>
	<!-- 회원 기본정보수정 -->
	<update id="updatePW">
		update users set password = #{newPW},
		nicname=#{nicname} where id=#{id}
	</update>
	<!-- 회원 기본정보수정 -->
	<update id="updateUser">
		update users set nicname=#{nicname} where id=#{id}
	</update>
	<update id="updatePersonalInfo">
		update personalinfo set birthday=#{birthday}, sns=#{sns}, exercise=#{exercise} where id=#{id}
	</update>
	<update id="updatePhoto" parameterType="user">
		update personalinfo set photo = #{filename} where id = #{id}
	</update>
	<update id="updateBmi">
		update personalinfo set weight = #{weight}, height=#{height}, bmi=#{bmi} where id=#{id}
	</update>
	
</mapper>